/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2020, 6:04:42 PM
    Author     : Admin
*/

#background_register{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1999;
    display: none;
}
.main {
    margin: 7em auto 0;
    width: 30%;
}

.user {
    text-align: right;
    vertical-align: unset;
    margin-right: 5.2em;
}

.register {
    padding: 0em 0;
}

.inset {
    position: relative;
    background: #fff;
    padding: 2em 2em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}

.inset:before {
    content: '';
    width: 0;
    height: 0;
    border: 20px solid #FFF;
    border-top: 0 solid rgba(0, 0, 0, 0) !important;
    border-right: 13px solid rgba(0, 0, 0, 0) !important;
    border-left: 13px solid rgba(0, 0, 0, 0);
    left: 77.1%;
    top: -5.3%;
    position: absolute;
}

form span {
    display: block;
    font-size: 1em;
    color: #787878;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#div_register input[type="text"], input[type="Password"] {
    padding: 9px;
    width: 90%;
    font-size: 1.1em;
    margin: 18px 0px;
    border: 2px solid#EAEEF1;
    color: #666666;
    background: #EAEEF1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 5px;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#div_register input[type="text"]:hover, input[type="Password"]:hover, #active {
    background: #fff;
    border: 2px solid #609EC3;
    outline: none;
}

.sign {
    padding: 10px 0;
}

.forget-pass {
    float: right;
}

.submit, #btnRegisterByAjax,#btnReturnSignIn {
    padding: 2px 2px;
    float: left;
    margin-right: 11px;
}

.submit input[type="submit"], #btnRegisterByAjax,#btnReturnSignIn {
    background: #F06B37;
    border: none;
    outline: none;
    padding: 0.55em 1.3em 0.6em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    -o-border-radius: 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
}

.submit input[type="submit"]:hover , #btnRegisterByAjax:hover,#btnReturnSignIn:hover{
    background: #62A0C4;
}

#btnExitReg:hover{
    background: #F06B37;
    border: none;
    outline: none;
    padding: 0.55em 1.3em 0.6em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    -o-border-radius: 1.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
}

.forget {
    float: right;
}

.forget-pass a {
    float: right;
    color: #898888;
    font-size: 0.95em;
    margin-top: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.forget-pass a:hover {
    text-decoration: underline;
}


